body {
  background-color: white;
  text-color: black;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 48px;
}
